{% extends 'adminBASE.html' %}

{% block main %}
{% if max %}
<div style="width: 100%;height: 50px;background-color: #f8f9fa;margin-top: 3px;">
	<form action="{{url_for('admin_manage', arg='comment_search')}}" method="get" style="display: inline;">
		<input type="number" min=1 max={{max}} name="articleID" placeholder="Search by Article ID" style="width: 200px;margin-top: 8px;margin-left: 10px" required>
		<button type="submit" class="btn btn-default" style="color: gray">Go</button>
	</form>
</div>
{% endif %}
<div style="width: 100%;background-color: #f8f9fa;margin-top: 3px;padding-bottom: 30px">
	<div style="padding-left: 5px;">Result: {{result}} 
		{% if compose %}
		<a href="{{url_for('composeNews')}}"><button class="btn btn-default" style="float: right;color: white;background-color: gray;border-radius: 0">Compose</button></a>
		{% endif %}
		{% if allAdminData %}
		<a href="{{url_for('newAdmin')}}"><button class="btn btn-default" style="float: right;color: white;background-color: gray;border-radius: 0">New</button></a>
		{% endif %}
	</div>

	<table style="width: 90%;margin: auto;text-align: right;margin-top: 14px ">
		{% if tablehead %}
		<thead>
			<tr style="border-bottom: 2px solid gray;text-align: center">
				{% for i in tablehead %}
				<td>{{i}}</td>
				{% endfor %}
			</tr>
		</thead>
		{% endif %}

		{% if clientData %}
		<tbody>
			{% for i in clientData %}
			<tr class="tableRow" onclick="document.location='{{i.url}}';" style="text-align: center;">
				<td>{{i.clientID}}</td>
				<td>{{i.nickname}}</td>
				<td>{{i.email}}</td>
				<td>{{i.password}}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}

		{% if articleData %}
		<tbody>
			{% for i in articleData %}
			<tr class="tableRow" onclick="document.location='{{i.url}}';" style="text-align: center">
				<td>{{i.articleID}}</td>
				<td>{{i.category}}</td>
				<td>{{i.owner}}</td>
				<td>{{i.title}}</td>
				<td>{{i.price}}</td>
				<td>{{i.sales}}</td>
				<td>{{i.date}}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}

		{% if commentData %}
		<tbody>
			{% for i in commentData %}
			<tr class="tableRow" onclick="document.location='{{i.url}}';" style="text-align: center">
				<td>{{i.commentID}}</td>
				<td>{{i.article}}</td>
				<td>{{i.author}}</td>
				<td>{{i.date}}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}

		{% if newsData %}
		<tbody>
			{% for i in newsData %}
			<tr class="tableRow" onclick="document.location='{{i.url}}';" style="text-align: center">
				<td>{{i.newsID}}</td>
				<td>{{i.type}}</td>
				<td>{{i.title}}</td>
				<td>{{i.author}}</td>
				<td>{{i.date}}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}

		{% if allAdminData %}
		<tbody>
			{% for i in allAdminData %}
			<tr class="tableRow" onclick="document.location='{{i.url}}';" style="text-align: center">
				<td>{{i.adminID}}</td>
				<td>{{i.account}}</td>
				<td>{{i.password}}</td>
				<td>{{i.client}}</td>
				<td>{{i.article}}</td>
				<td>{{i.comment}}</td>
				<td>{{i.carousel}}</td>
				<td>{{i.news}}</td>
				<td>{{i.revenue}}</td>
				<td>{{i.admin}}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}

		{% if revenueData %}
		<tbody>
			{% for i in revenueData %}
			<tr class="tableRow" style="text-align: center;">
				<td>{{i.date}}</td>
				<td>{{i.revenue}}</td>
			</tr>
			{% endfor %}
		</tbody>
		{% endif %}

		{% if Carousel %}
		<tbody>
			<tr class="tableRow" onclick="document.location='{{Carousel.C1}}';" style="text-align: center;">
				<td>Carousel Image 1</td>
			</tr>
			<tr class="tableRow" onclick="document.location='{{Carousel.C2}}';" style="text-align: center;">
				<td>Carousel Image 2</td>
			</tr>
			<tr class="tableRow" onclick="document.location='{{Carousel.C3}}';" style="text-align: center;">
				<td>Carousel Image 3</td>
			</tr>
		</tbody>
		{% endif %}

	</table>

</div>
{% endblock %}