{% extends 'HeadnFoot.html' %}

{% block title %}{{title}}{% endblock %}

{% block username %}
{% if userInfo %}
{% if userInfo != 'Guest' %}
<img src="{{url_for('static', filename=userInfo.icon)}}" style="max-width: 30px;max-height: 30px">
{% endif %}
{{userInfo.nickname|default('Guest')}}
{% endif %}
{% endblock %}

{% block dropdown %}
    {% if userInfo == 'Guest' %}
    <div class="dropdown-menu">
    <a class="dropdown-item HelloItem" href="{{url_for('login')}}">Login</a>
    <a class="dropdown-item HelloItem" href="{{url_for('signup')}}">Sign Up</a>
    </div>
    {% else %}
    <div class="dropdown-menu">
    <a class="dropdown-item HelloItem" href="#" data-toggle="modal" data-target="#profileModal">Profile</a>

    <a class="dropdown-item HelloItem" href="{{url_for('myarticle')}}">My Article</a>
    <a class="dropdown-item HelloItem" href="{{url_for('record')}}">Record</a>
    <a class="dropdown-item HelloItem" href="{{url_for('logout')}}">Sign Out</a>
    </div>
    {% endif %}
{% endblock %}


{% if userInfo %}
{% if userInfo != 'Guest' %}
{% block usericon %}{% if userInfo %}{{url_for('static', filename=userInfo.icon)}}{% endif %}{% endblock %}
{% block userID %}{% if userInfo %}{{userInfo.clientID}}{% endif %}{% endblock %}
{% block userName %}{% if userInfo %}{{userInfo.nickname}}{% endif %}{% endblock %}
{% block userEmail %}{% if userInfo %}{{userInfo.email}}{% endif %}{% endblock %}
{% endif %}{% endif %}

{% block mainContent %}
<!--Content-->
<section class="articlePageContent">
    
    <div class="articleInfo">
        <div style="padding: 20px">
            <span id="articleDate">{{date}}</span>
            <span class="articlePrice">
                <span>$ </span>
                <span>{{ price }}</span>
                <button type="button" class="btn btn-danger btnAddCart-Article" style="display: block">Add to Cart</button>
                <button type="button" class="btn btnBuy-Article" style="display: block">Buy Now!</button>
            </span>
        </div>
        <div id="articleTitle">{{ title }}</div>
        <div class="articleAuthor">
            <span>Author : {{ name }}</span>
            <span id="Author"></span>
        </div>
    </div>
    <p id="articleContent" class="articleContent">{{description|safe}}</p>

</section>
<!--Content End-->

{% endblock %}