{% extends 'HeadnFoot.html' %}

{% block title %}{{title}}{% endblock %}

{% block username %}
{% if userInfo %}
{% if userInfo != 'Guest' %}
<img src="{{url_for('static', filename=userInfo.icon)}}" style="max-width: 30px;max-height: 30px">
{% endif %}
{{userInfo.nickname|default('Guest')}}
{% endif %}
{% endblock %}

{% block dropdown %}
    {% if userInfo == 'Guest' %}
    <div class="dropdown-menu">
    <a class="dropdown-item HelloItem" href="{{url_for('login')}}">Login</a>
    <a class="dropdown-item HelloItem" href="{{url_for('signup')}}">Sign Up</a>
    </div>
    {% else %}
    <div class="dropdown-menu">
    <a class="dropdown-item HelloItem" href="#" data-toggle="modal" data-target="#profileModal">Profile</a>
    <a class="dropdown-item HelloItem" href="#" data-toggle="modal" data-target="#cartModal">Cart</a>
    <a class="dropdown-item HelloItem" href="{{url_for('myarticle')}}">My Article</a>
    <a class="dropdown-item HelloItem" href="{{url_for('record')}}">Record</a>
    <a class="dropdown-item HelloItem" href="{{url_for('logout')}}">Sign Out</a>
    </div>
    {% endif %}
{% endblock %}


{% if userInfo %}
{% if userInfo != 'Guest' %}
{% block usericon %}{% if userInfo %}{{url_for('static', filename=userInfo.icon)}}{% endif %}{% endblock %}
{% block userID %}{% if userInfo %}{{userInfo.clientID}}{% endif %}{% endblock %}
{% block userName %}{% if userInfo %}{{userInfo.nickname}}{% endif %}{% endblock %}
{% block userEmail %}{% if userInfo %}{{userInfo.email}}{% endif %}{% endblock %}
{% endif %}{% endif %}

{% block mainContent %}
<!--Content-->
<section class="articlePageContent" style="min-height: 200px">
    
    <div class="articleInfo">
        <div style="padding: 20px">
            <span id="articleDate">{{date}}</span>
            <span class="articlePrice">
                <span>$ </span>
                <span>{{ price }}</span>
                <form action="{{url_for('addtocart')}}" method="post">
                    <input type="hidden" name="articleID" value="{{articleID}}">
                    <button type="submit" class="btn btn-danger btnAddCart-Article" style="display: block">Add to Cart</button>
                </form>
                <form action="{{url_for('buyone')}}" method="post">
                    <input type="hidden" name="articleID" value="{{articleID}}">
                    <button type="submit" class="btn btnBuy-Article" style="display: block">Buy Now!</button>
                </form>
                
            </span>
        </div>
        <div id="articleTitle">{{ title }}</div>
        <div class="articleAuthor">
            <span>Author : {{ name }}</span>
            <span id="Author"></span>
        </div>
    </div>
    <p id="articleContent" class="articleContent">{{description|safe}}</p>

</section>
<section class="articlePageContent">
    <form action="{{url_for('comment')}}" method="post" style="display: inline;">
    <div style="width: 100%;background-color: #78C2AD;color: white;font-size: 25px;padding-left: 10px">
        Comment
        <input type="hidden" name="articleID" value="{{articleID}}">
        <button type="submit" class="btn btn-warning" style="float: right;border-radius: 0px">Submit</button>
    </div>
    <textarea name="comment" style="width:100%;min-height: 100px" placeholder=" write something..."></textarea>
    </form>
    {% if comment %}
    {% for c in comment %}
    <div style="width: 100%;height: 200px;background-color: #78C2AD;color: white;font-size: 25px;">
        <div style="float: left;width: 20%;height: 100%;background-color: #78C2AD">
            <div style="width: 100px;height: 100px;margin: auto;margin-top: 30px">
                <img src="{{url_for('static',filename=c.icon)}}" style="width:100%;height: 100%">
            </div>
            <div style="font-size: 15px;text-align: center">{{c.authorName}}</div>
            <div style="font-size: 15px;text-align: center">Client ID: {{c.author}}
                {% if session.get('clientID') == c.author %}
                <form action="{{url_for('disable_own_comment')}}" method="post">
                    <input type="hidden" name="commentID" value="{{c.commentID}}">
                    <button type="submit" style="float: right;border: 1px solid gray">Delete</button>
                </form>
                {%endif%}
            </div>    
        </div>
        <div style="float: right;width: 80%;height: 100%; background-color: #78C2AD">
            <div style="height: 10%;background-color: #78C2AD;font-size:15px">
                <span style="float: left">{{c.num}}</span>
                <span style="float: right;padding-right: 5px">{{c.date}}</span>
            </div>
            <div style="height: 90%;background-color: white;border: 2px solid #78C2AD">
                <div style="width:100%;height: 100%;font-size: 18px;color: gray; padding: 10px 15px; overflow-y: scroll;overflow-wrap: break-word;">{{c.comment|safe}}</div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>
<!--Content End-->

{% endblock %}