{% extends 'HeadnFoot.html' %}

{% block title %}{{ category }}{% endblock %}

{% block username %}
{% if userInfo %}
{% if userInfo != 'Guest' %}
<img src="{{url_for('static', filename=userInfo.icon)}}" style="max-width: 30px;max-height: 30px">
{% endif %}
{{userInfo.nickname|default('Guest')}}
{% endif %}
{% endblock %}

{% block dropdown %}
    {% if userInfo == 'Guest' %}
    <div class="dropdown-menu">
    <a class="dropdown-item HelloItem" href="{{url_for('login')}}">Login</a>
    <a class="dropdown-item HelloItem" href="{{url_for('signup')}}">Sign Up</a>
    </div>
    {% else %}
    <div class="dropdown-menu">
    <a class="dropdown-item HelloItem" href="#" data-toggle="modal" data-target="#profileModal">Profile</a>
    <a class="dropdown-item HelloItem" href="#" data-toggle="modal" data-target="#cartModal">Cart</a>
    <a class="dropdown-item HelloItem" href="{{url_for('myarticle')}}">My Article</a>
    <a class="dropdown-item HelloItem" href="{{url_for('record')}}">Record</a>
    <a class="dropdown-item HelloItem" href="{{url_for('logout')}}">Sign Out</a>
    </div>
    {% endif %}
{% endblock %}


{% if userInfo %}
{% if userInfo != 'Guest' %}
{% block usericon %}{% if userInfo %}{{url_for('static', filename=userInfo.icon)}}{% endif %}{% endblock %}
{% block userID %}{% if userInfo %}{{userInfo.clientID}}{% endif %}{% endblock %}
{% block userName %}{% if userInfo %}{{userInfo.nickname}}{% endif %}{% endblock %}
{% block userEmail %}{% if userInfo %}{{userInfo.email}}{% endif %}{% endblock %}
{% endif %}{% endif %}



{% block mainContent %}
<!--Content-->
<section>
    <!--Title-->
    <div id="categoryPageTitleField">
        <span id="categoryPageTitle">{{ category }}</span>
        <span id="categoryPageTitleDescription">{{ description }}</span>
    </div>
    <!--Information-->
    <div style="width:90%;margin: auto;margin-top:15px;margin-bottom: 15px;">
        <span style="float: left;font-size: 20px;margin-left:25px">
            <span id="result">{{ result }}</span>
            &nbsp;Results
        </span>
        <span style="float: right;font-size: 15px;margin-right:30px">
            <label>
                <span>Sort By:</span> 
                <select id="sort" name="sort" width="180" style="width: 180px">
                    <option id="newest">Newest</option>
                    <option id="priceL2H">Price (Low to Hight)</option>
                    <option id="priceH2L">Price (Hight to Low)</option>
                    <option id='sales'>Sales (Hight to Low)</option>
                </select>
            </label>
        </span>
    </div>

    <!-- row -->
    {% for l in items %}
    <div class="row" style="width: 90%;margin:auto;margin-bottom: 50px;">
    {% for item in l %}
    <!--item -->
    <div class="col-sm-3">
        <div id="item1" class="item">
            <img id="itemImage1" class="itemImage" src="{{url_for('static',filename=item.image)}}">
            <p id="itemTitle1" class="itemTitle">{{item.title}}</p>
            <div>
                <span class="itemAuthor">Aurther: 
                    <span id="itemAuthor1">{{item.ownerName}}</span>
                </span>
                <span class="itemPrice">$ 
                    <span id="itemPrice1">{{item.price}}</span>
                </span>
            </div>
            <hr class="forItem">
            <div id="itemConten1" class="itemContent">{{item.description}}</div>
            <div style="width: 100%;opacity: 0.9">
                <form action="{{url_for('addtocart')}}" method="post">
                    <input type="hidden" name="articleID" value="{{item.articleID}}">
                    <button type="submit" class="btn btn-danger btnAddCart">Add to Cart</button>
                </form>
                <a href="{{url_for('article_description', aID=item.articleID)}}">
                    <button type="button" class="btn btn-primary btnMore">More</button>
                </a>
            </div>
        </div>
    </div>
    <!--item End-->
    {% endfor %}
    </div>
    {% endfor %}

    {% if result == 0 %}
    <div style="font-size: 30px;text-align: center;margin: 100px">Cannot Find Anything. Try Other Key Words!</div>
    {% endif %}
</section>
<!--Content End-->
<script>
    if (window.location.href.indexOf('/newest') > 0) {
        $('#sort').val('Newest')
    } else if (window.location.href.indexOf('/priceL2H') > 0) {
        $('#sort').val('Price (Low to Hight)')
    } else if (window.location.href.indexOf('/priceH2L') > 0) {
        $('#sort').val('Price (Hight to Low)')
    } else if (window.location.href.indexOf('/sales') > 0) {
        $('#sort').val('Sales (Hight to Low)')
    } else if (window.location.href.indexOf('/category/') > 0) {
        $('#sort').val('Newest')
        $('#sort').attr('disabled',true)

    }

    $('#sort').change(function() {
        if ($(this).val() === 'Newest') {
            window.location.href = "{{url_for('search',sort='newest')}}" + "?q=" + "{{q}}";
        } else if ($(this).val() === 'Price (Low to Hight)') {
            window.location.href = "{{url_for('search',sort='priceL2H')}}" + "?q=" + "{{q}}";
        } else if ($(this).val() === 'Price (Hight to Low)') {
            window.location.href = "{{url_for('search',sort='priceH2L')}}" + "?q=" + "{{q}}";
        } else if ($(this).val() === 'Sales (Hight to Low)') {
            window.location.href = "{{url_for('search',sort='sales')}}" + "?q=" + "{{q}}";
        }
    });
</script>
{% endblock %}