<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %} - CooKinGdom</title>
    
	<!--External CSS-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='AssignmentCSS.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.css')}}">
  <!--External CSS End-->

	<!--External JavaScript-->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='AssignmentJS.js')}}"></script>
	<!--External JavaScript End-->

	<!--Icon-->
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<body>

<!-- Navbar Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
	<a class="navbar-brand" href="{{url_for('home')}}">&nbsp;CooKinGdom&nbsp;</a>
	<!--Toggle-->
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  	</button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
      		<li class="nav-item">
        		<a class="nav-link" href="{{url_for('news', arg='all')}}">News</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="{{url_for('about')}}">About</a>
      		</li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('edit')}}">Compose</a>
          </li>
          <li class="nav-item">
            <form class="form-inline" action="{{url_for('search',sort='newest')}}">
              <input name="q" class="form-control" type="text" placeholder="Search by Article Title" style="margin: 2px;background-color: #78C2AD;border-radius: 0px;color: white;" required>
              <button class="btn btn-secondary" type="submit" style="background-color: crimson; border-radius: 0px">Go</button>
            </form>
          </li>
    	</ul>
        <!--Dropdown Bootstrap-->
        <ul class="nav nav-pills">
            <li class="nav-item dropdown show">
		<a class="nav-link dropdown-toggle Hello" data-toggle="dropdown" role="button" href="#">Hello, {% block username %}{% endblock %}</a>
			{% block dropdown %}{% endblock %}
     	  	</li>
        </ul>
    </div>
</nav>
<!--Navbar End-->


{% if userInfo %}
{% if userInfo != 'Guest' %}
<!-- Modal - userInfo -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #78C2AD">
        <h5 class="modal-title" id="ModalLabel" style="color:white;">User Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">
        <div style="width: 100%;">
                <img src="{% block usericon %}{%endblock%}" style="display: block;margin:auto;width: 150px;height: 150px;border: 2px solid gray;margin-bottom: 10px;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iconModal" style="display: block;margin: auto;width: 100px;">Change</button>
                </div>
                <table style="color: gray; font-size: 22px;width: 100%;text-align: center;padding-top: 10px">
                    <tr>
                        <td colspan="2" style=";">Account Information</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;width: 30%">ClientID:</td>
                        <td>{% block userID %}{% endblock %}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;width: 30%">Name:</td>
                        <td>{% block userName %}{% endblock %}</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;width: 30%">Email:</td>
                        <td>{% block userEmail %}{% endblock %}</td>
                    </tr>
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwordModal" style="display: block;margin: auto;width: 60%;margin-top: 20px">Change password</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 100%;">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal - userInfo - end -->

<!-- Modal - icon -->
<div class="modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="iconModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #78C2AD">
        <h5 class="modal-title" id="iconModalLabel" style="color:white;">Changing Icon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">
        <form action="{{url_for('uploadicon')}}" method="post" enctype='multipart/form-data'>
          <label>Choose a picture: </label>
          <label style="display:block;">1. '.png' or '.jpg' only</label>
          <label style="display: block;">2. length : width = 1:1</label>
          <input class="form-control" type="file" name="icon" required>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal - password -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #78C2AD">
        <h5 class="modal-title" id="passwordModalLabel" style="color:white;">Changing Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">
        <form action="{{url_for('changePassword')}}" method="post">
          <input id="opassword" class="form-control" type="password" name="opassword" placeholder="Old Password" required>
          <input id="npassword" class="form-control" type="password" name="npassword" placeholder="New Password(8-15)" style="margin-top: 10px;" required>
          <input id="confirm" class="form-control" type="password" name="confirm" placeholder="Confirm Password" style="margin-top: 10px;" required>
      </div>
      <div class="modal-footer">
        <button id="btnSubmit" type="submit" class="btn btn-primary" style="width: 100%" disabled>Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal - password - end -->

{% if cart %}
<!-- Modal - cart -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #78C2AD">
        <h5 class="modal-title" id="cartModalLabel" style="color:white;">Shopping Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">

        {% if cart[0] == 'Nothing' %}
        <div style="width: 100%;text-align: center;">Nothing in Cart</div>
        {% else %}
        <div style="width: 100%;text-align: left;border-bottom: 2px solid gray">Total Price: <b>${{ cart[1] }}</b></div>
        {% for i in cart[0] %}
          <div style="width: 100%;height: 150px;border: 5px solid white;">
            <div style="display: inline;width: 40%;height: 100%;float: left;">
              <img src="{{url_for('static', filename=i.image)}}" style="width: 100%;height: 100%;border-right: 5px solid #78C2AD;">
            </div>
            <div style="display: inline;width: 60%;height: 100%;float: right;background-color: #78C2AD;color: white;">
              <div style="width: 100%; height: 80%">
                <div style="font-size: 20px"><a href="{{url_for('article_description',aID=i.articleID)}}" style="color:white">{{ i.title }}</a></div>
                <div style="font-size: 15px">Author: {{ i.author }}</div>
                <div style="font-size: 15px">Category: {{ i.category }}</div>
              </div>
              <div style="width: 100%; height: 30%;">
                <span style="float: left;">Price: {{ i.price }}</span>
                <form action="{{url_for('cart_del')}}" method="post">
                  <input type="hidden" name="article" value="{{ i.articleID }}">
                  <button type="submit" class="btn-danger" style=";float: right;width: 10%;height: 10%;border-radius: 0px">&times;</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
        {% endif %}

      </div>
      <div class="modal-footer">
        <form action="{{url_for('purchase')}}" method="post" style="width: 100%">
        <button id="btnPurchase" type="submit" class="btn btn-primary" style="width: 100%">Purchase All</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal - cart - end -->
{% endif %}
{% endif %}
{% endif %}
{% block mainContent %}{% endblock %}

<!--Footer-->
<footer>
  <div class="row" style="color:white">
  <div class="col-sm-3" style="text-align: center;">
    <div style="font-size: 30px; padding-top: 20px">Contact us</div>
    <div style="width:100%;height: 65%;">
      <div style="font-size: 20px"><a href="{{url_for('about')}}#Contact" style="color: white">Email</a></div>
      <div style="font-size: 20px"><a href="{{url_for('about')}}#Contact" style="color: white">Phone</a></div>
      <div style="font-size: 20px"><a href="{{url_for('about')}}#Contact" style="color: white">Facebook</a></div>
      <div style="font-size: 20px"><a href="{{url_for('about')}}#Contact" style="color: white">Twitter</a></div>
    </div>
    <div style="width:100%;height: 20%;text-align: left;margin-left: 25px;padding-bottom: 55px ">
      <select class="form-control" style="display:inline;width: 50%" disabled>
        <option>English</option>
      </select>
      <span>Copyright@....</span>
    </div>
  </div>
  <div class="col-sm-3" style="text-align: center;">
    <div style="font-size: 30px; padding-top: 20px">About us</div>
    <div style="width:100%;height: 65%;">
      <div style="font-size: 20px"><a href="{{url_for('about')}}" style="color: white">CooKinGom</a></div>
      <div style="font-size: 20px"><a href="{{url_for('about')}}#Q&A" style="color: white">Q&A</a></div>
    </div>
  </div>
  <div class="col-sm-3" style="text-align: center;">
    <div style="font-size: 30px; padding-top: 20px">Category</div>
    <div style="width:100%;height: 65%;">
      <div style="font-size: 20px"><a href="{{url_for('category',arg='chinese')}}" style="color: white">Chinese</a></div>
      <div style="font-size: 20px"><a href="{{url_for('category',arg='europe')}}" style="color: white">Europe</a></div>
      <div style="font-size: 20px"><a href="{{url_for('category',arg='japanese')}}" style="color: white">Japanese</a></div>
      <div style="font-size: 20px"><a href="{{url_for('category',arg='other')}}" style="color: white">Other</a></div>
    </div>
  </div>
  <div class="col-sm-3" style="text-align: center;">
    <div style="font-size: 30px; padding-top: 20px">News</div>
    <div style="width:100%;height: 65%;">
      <div style="font-size: 20px"><a href="{{url_for('news',arg='all')}}" style="color: white">All</a></div>
      <div style="font-size: 20px"><a href="{{url_for('news',arg='event')}}" style="color: white">Event</a></div>
      <div style="font-size: 20px"><a href="{{url_for('news',arg='system')}}" style="color: white">System</a></div>
    </div>
  </div>
  </div>
</footer>
<!--Footer End-->




{% if userInfo %}
{% if userInfo != 'Guest' %}
<script>
  $('#opassword').on('keyup', function() {
    if ($('#opassword').val() != '{{userInfo.password}}') {
      $('#opassword').removeClass("is-valid");
      $('#opassword').addClass("is-invalid");
    }else{
      $('#opassword').removeClass("is-invalid");
      $('#opassword').addClass("is-valid");
    }
  })

  $('#npassword, #confirm').on('keyup', function() {
    if ($('#npassword').val() != $('#confirm').val()) {
      $('#confirm').removeClass("is-valid");
      $('#confirm').addClass("is-invalid");
    }else{
      $('#confirm').removeClass("is-invalid");
      $('#confirm').addClass("is-valid");
    }
  })


  $('#npassword').on('keyup', function() {
    if ($('#npassword').val().length > 15 || $('#npassword').val().length < 8 || $('#npassword').val().length == 0) {
      $('#npassword').removeClass("is-valid");
      $('#npassword').addClass("is-invalid");
    }else{
      $('#npassword').removeClass("is-invalid");
      $('#npassword').addClass("is-valid");
    };
  })

  $('#opassword, #npassword, #confirm').on('keyup', function() {
    if ($('#opassword').hasClass('is-valid') && $('#npassword').hasClass('is-valid') && $('#confirm').hasClass('is-valid')) {
      $('#btnSubmit').attr('disabled', false)
    }else{
      $('#btnSubmit').attr('disabled', true)
    }
  })
{% with opencart = get_flashed_messages(category_filter=["opencart"]) %}
{% if opencart %}
$('#cartModal').modal('show');
{% endif %}
{% endwith %}
</script>
{% endif %}
{% endif %}
</body>
</html>
