{% extends 'HeadnFoot.html' %}

{% block title %}{{pageTitle}}{% endblock %}
{% block username %}
{% if userInfo %}
<img src="{{url_for('static', filename=userInfo.icon)}}" style="max-width: 30px;max-height: 30px">
{{userInfo.nickname|default('Guest')}}
{% endif %}
{% endblock %}

{% block dropdown %}
    {% if userInfo == 'Guest' %}
    <div class="dropdown-menu">
    <a class="dropdown-item HelloItem" href="{{url_for('login')}}">Login</a>
    <a class="dropdown-item HelloItem" href="{{url_for('signup')}}">Sign Up</a>
    </div>
    {% else %}
    <div class="dropdown-menu">
    <a class="dropdown-item HelloItem" href="#" data-toggle="modal" data-target="#profileModal">Profile</a>
    <a class="dropdown-item HelloItem" href="#" data-toggle="modal" data-target="#cartModal">Cart</a>
    <a class="dropdown-item HelloItem" href="{{url_for('myarticle')}}">My Article</a>
    <a class="dropdown-item HelloItem" href="{{url_for('record')}}">Record</a>
    <a class="dropdown-item HelloItem" href="{{url_for('logout')}}">Sign Out</a>
    </div>
    {% endif %}
{% endblock %}


{% if userInfo %}
{% if userInfo != 'Guest' %}
{% block usericon %}{% if userInfo %}{{url_for('static', filename=userInfo.icon)}}{% endif %}{% endblock %}
{% block userID %}{% if userInfo %}{{userInfo.clientID}}{% endif %}{% endblock %}
{% block userName %}{% if userInfo %}{{userInfo.nickname}}{% endif %}{% endblock %}
{% block userEmail %}{% if userInfo %}{{userInfo.email}}{% endif %}{% endblock %}
{% endif %}{% endif %}

{% block mainContent %}

<!-- Content -->
<div id="newsPageTitleField">
    <span id="newsPageTitle">{{pageTitle}}</span>   
</div>
<div class="row" style="margin-bottom: 0px !important">
<div class="col-sm-12" style="width: 100%;">
    {% for i in articles %}
    {% if i['state'] == 'able' and My %}
    <div style="margin: auto;margin-top: 20px;margin-bottom: 5px; width:80%;height: 250px;background-color: white;">
        <img src="{{url_for('static',filename=i.image)}}" style="float: left; width:30%;height: 250px">
        <div>
            <a href="{{url_for('article', aID=i.articleID)}}"><div style="width: 100%;background-color: #78C2AD;padding: 10px 20px 10px 20px; color: white;font-size: 25px;">&nbsp;{{i.title}}</div></a>
            <div style="height: 167px;padding-top:5px;padding-left: 30px; color: gray">&nbsp;&nbsp;{{i.description}}</div>
            <div style="width: 100%;height: 25px;padding-left: 10px;padding-right: 10px">
                <span style="float: left;">&nbsp;Sales: {{i.sales}}</span>
                <span style="float: right;">Date: {{i.date}}</span>
            </div>
        </div>
    </div>
    {% endif %}
    {% if not My %}
    <div style="margin: auto;margin-top: 20px;margin-bottom: 5px; width:80%;height: 250px;background-color: white;">
        <img src="{{url_for('static',filename=i.image)}}" style="float: left; width:30%;height: 250px">
        <div>
            <a href="{{url_for('article', aID=i.articleID)}}"><div style="width: 100%;background-color: #78C2AD;padding: 10px 20px 10px 20px; color: white;font-size: 25px;">&nbsp;{{i.title}}</div></a>
            <div style="height: 167px;padding-top:5px;padding-left: 30px; color: gray">&nbsp;&nbsp;{{i.description}}</div>
            <div style="width: 100%;height: 25px;padding-left: 10px;padding-right: 10px">
                <span style="float: left;">&nbsp;Sales: {{i.sales}}</span>
                <span style="float: right;">Date: {{i.date}}</span>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div style="text-align: center;font-size: 40px">No More Article...</div>

</div>
</div>
<!--Content End-->

{% endblock %}