{% extends 'HeadnFoot.html' %}

{% block title %}Login{% endblock %}
{% block username %}{{username|default('Guest')}}{% endblock %}

{% block dropdown %}
	<div class="dropdown-menu">
	<a class="dropdown-item HelloItem" href="{{url_for('login')}}">Login</a>
	<a class="dropdown-item HelloItem" href="{{url_for('signup')}}">Sign Up</a>
	</div>
{% endblock %}

{% block mainContent %}
<!-- Login Page Content -->
<section class="loginPageContent">
    <div id="loginPageTitleField">
        <span id="loginPageTitle">Login</span>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="loginField">
                <div class="formTitleBackground">
                    <p class="formTitleFont">
                        Welcome to CooKinGdom!
                    </p>
                </div>

                <!--Form start-->
                <form method="POST" action="{{url_for('login_done')}}">
                    <div class="form-group loginUserInput" style="float: left">
                        <span class="loginUI">Email address :</span>
                        <input class="form-control" type="text" name="email" style="width: 80%" required>
                        <span class="loginUI">Password : </span>
                        <input class="form-control" type="password" name="password" style="width: 80%" required>
                        <label class="loginUI">
                            <input type="checkbox" name="remember"> Remember Me
                        </label>
                        <button type="submit" class="btn btn-danger" style="margin-top: 10px">Log In</button>    
                        <label style="display: block"><a href="#" data-toggle="modal" data-target="#forgetModal">forget password?</a></label>             
                    </div>
                </form>
                <!--From End-->

                <div class="form-group loginUserInput" style="float: right">
                        <p style="font-size: 25px">Don't Have a Account?</p>
                        <p style="font-size: 25px">Free to Sign Up Now!</p>
                        <p style="font-size: 20px">Enjoy Cooking!</p>
                        <div style="float: right;margin-top: 25px;margin-right: 50px">                            
                            <a href="{{ url_for('signup') }}"><button class="btn btn-danger" style="font-size:25px; ">Sign Up</button></a>
                        </div>   
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="forgetModal" tabindex="-1" role="dialog" aria-labelledby="forgetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #78C2AD">
        <h5 class="modal-title" id="forgetModalLabel" style="color:white;">Forget Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: white">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">
        <form action="{{url_for('forgetpassword')}}" method="post">
          <input id="opassword" class="form-control" type="email" name="forget_email" placeholder="email" required>
      </div>
      <div class="modal-footer">
        <button id="btnSubmit" type="submit" class="btn btn-primary" style="width: 100%">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Content End-->
<script>
{% with messages = get_flashed_messages() %}
{% if messages %}
window.alert('Invaild Account or Paswword')
{% endif %}
{% endwith %}
</script>

{% endblock %}
